# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# # Env
# .env
# .env.local
# .env.*.local

# Build
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage reports
coverage/

# Temporary files
tmp/
temp/

# Other
*.swp
*.bak
